.phoneImage {
  height: 400px;
}

.phoneImage:hover {
  cursor: pointer;
}

body {
  background-color: white;
  font-family: "Krona One";
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.message-show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.message-hide {
  display: none;
}
html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
.sideScroll::-webkit-scrollbar {
  width: 20px;
}

.sideScroll::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.sideScroll::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.sideScroll {
  height: 900px;
  /* width: 600px; */
  position: absolute;
  left: 100px;
  top: 245px;
  /* margin: -100px; */
  overflow-x: hidden;
  overflow-y: auto;
  transform: rotate(-90deg) translateY(-600px);
  transform-origin: right top;
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  padding-right: 50px;
  margin-right: 50px;
  margin-top: 20px;
  padding-top: 600px;
  /* border: 2px solid black; */
}

.sideScroll > div {
  transform: rotate(90deg);
  transform-origin: right top;
  background-color: white;
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}

.outerContainer {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  margin-left: 400px;
  margin-top: 20px;
  /* border: 2px solid black; */
}

.messageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartMessage {
  color: green;
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.manufactButtons {
  display: flex;
  height: 15vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  
}
.chosenPhone {
  display: flex;
  height: 600px;
  width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 50px;
  margin-left: 10px;
  border: 3px solid black;
}
 .dahParent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
 } 

.fix {
  display: flex;
  height: 65vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.screenOrBattery {
  height: 600px;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 50px;
  margin-left: 200px;
  padding-top: 50px;
  border: 3px solid black;
}

.products {
  font-size: larger;
  display: flex;
  padding-top: 20px;
  margin-top: 50px;
}
.productBox {
  width: 30px;
  height: 30px;
}
.productBox:hover {
  cursor: pointer;
}
.totalCost {
  
  font-size: 25px;
  font-weight: 800;
  /* margin-top: 80px; */
  text-decoration: underline;
}

button:hover{
  cursor: pointer;
}
.myPhone {
  text-decoration: black underline overline;
  font-size: larger;
}
.S_B_Container{
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: forestgreen; */
}

.totalButton{
  display: flex;
  height: 30px;
  margin-top: 50px;
}

.toggle-Apple-show {
  text-decoration: none;
  display: inline-block;
  height: 255px;
  justify-content: flex-end;
  align-self: baseline;
  right: 0px;
  background-color: white;
  animation-name: drop;

  overflow: auto;
  border: black;
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
}
.toggle-Apple-show::-webkit-scrollbar {
  width: 11px;
}


.toggle-Apple-show::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.toggle-Apple-show::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.toggle-Apple-hide {
  display: none;
}

.toggle-Samsung-show {
  text-decoration: none;
  display: inline-block;
  height: 250px;
  /* width: 200px; */
  justify-content: flex-end;
  align-self: baseline;
  right: 0px;
  background-color: white;
  animation-name: drop;
  /* position: fixed; */
  /* animation-duration: .5s; */
  /* z-index: 0; */
  overflow: auto;
  border: black;
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
}
.toggle-Samsung-show::-webkit-scrollbar {
  width: 11px;
}

.toggle-Samsung-show::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.toggle-Samsung-show::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.toggle-Samsung-hide {
  display: none;
}

.toggle-Google-show {
  text-decoration: none;
  display: inline-block;
  height: 150px;
  /* width: 200px; */
  justify-content: flex-end;
  align-self: baseline;
  right: 0px;
  background-color: white;
  animation-name: drop;
  /* position: fixed; */
  /* animation-duration: .5s; */
  /* z-index: 0; */
  overflow: auto;
  border: black;
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
}
.toggle-Google-show::-webkit-scrollbar {
  width: 11px;
}

.toggle-Google-show::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.toggle-Google-show::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.toggle-Google-hide {
  display: none;
}

.PhoneLogo {
  height: 100px;
  display: flex;
  justify-content: space-around;
  
}
.PhoneLogo:hover {
  padding-top: 10px;
  cursor: pointer;
}

.seperatePhone {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 5px 5px;
  color: black;
  font-family: "Krona One";
  /* border: solid black 2px; */
}
.seperatePhone:hover {
  color: blue;
  cursor: pointer;
}

.addToCart {
    /* background-color: white; */
    /* border: white; */
    width: 50px;
    height: 50px;
    display: flex;
    font-family: "Krona One";

}
.addToCart:hover {
    height: 53px;
    width: 53px;
}
.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
}

.bottomButtons {
    width: 400px;
    height: 200px;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 50px;
}
.money {
  padding-top: 20px;
}
.nextButton{
    display: flex;
    width: 30px;
    height: 30px;
    /* margin-top: 80px;
    margin-left: 170px; */
    /* position: fixed; */
}
.nextButton:hover{
    width: 33px;
    height: 33px;
}
@keyframes drop {
  0% {
    height: 0;
  }
  100% {
    height: 300px;
  }
}

@media screen and (max-width: 700px) {
  .PhoneLogo {
    width: 60px;
    height: 60px;
  }
  .manufactButtons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    margin-left: 400px;
  }
  .dahParent{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 0;
  }
  .message-show{
    width: 100vw;
    margin-left: 400px;
  }
  .toggle-Apple-show {
    width: 200px;
    height: 150px;
    z-index: 1;
    margin-bottom: 20px;
  }
  .toggle-Samsung-show {
    width: 200px;
    height: 150px;
    z-index: 1;
    margin-bottom: 20px;

  }
  .toggle-Google-show {
    width: 200px;
    height: 150px;
    z-index: 1;
    margin-bottom: 20px;

  }
  .phoneImage{
    height: 300px;
  }
  .sideScroll {
    height: 500px;
    width: 820px;
    transform: none;
    /* margin-right: 500px; */
    position: relative;
    left: 0;
    top: 0;
    padding-right:0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 0;
    


  }
  .sideScroll > div {
    transform: none;
    margin-bottom: -100px;
    margin-top: -50px;
    padding-right: 80px;
  }

  .fix{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 400px;
  }
  .chosenPhone{
    height: 400px;
    width: 300px;
    margin-top: 250px;
  }
  .screenOrBattery{
    height: 400px;
    width: 300px;
    margin-right: 200px;
    font-size: 11px;
  }
  .productBox{
    height: 20px;
    width: 20px;
  }
  .products{
    height: 100px;
  }
  .S_B_Container{
    width: 250px;
    height: 200px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .bottomButtons{
    display: flex;
    width: 250px;
    height: 20px;
    
    margin-top: 90px;
  }
  .nextButton{
    height: 20px;
    width: 20px;
  }
  .addToCart{
    height: 30px;
    width: 30px;
  }

  .totalCost{
    font-size: 15px;
  }
  .totalButton {
    margin-bottom: 50px;
    height: 25px;
  }
  .total{
    height: 300px;
  }
}
