.phoneImage {
    height: 500px;
}

.totalCost {
display: flex;
flex-direction: column;
}

.mainDiv {
    height: 700px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid black 2px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 500px;
}

