.calendar {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 200px; */
    padding-bottom: 300px;
}
.day{
    
    width: 150px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: col; */
}


.time {
    height: 100px;
    width: 500px;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* 
.appt {
    width: 200px;
    height: 100px;
} */

.time_slots{
    text-decoration: underline;
}
ul {
    height: 300px;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
p:hover{
    cursor: pointer;
    color: rgb(197, 30, 30);
}