.videoList{
    display: flex;
    /* flex-direction: column; */
    /* width: 100vw; */
    height: 15vh;
    /* height: 90vh; */
    /* background-color: red; */
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid black 2px;
    background-color: white;

}

footer{
    height: 20vh; 
    width: 100vw;
    background-color: #36454F;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* margin-top: 300px; */
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    position: absolute;
    bottom: 0;
}

.Video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height:50vh ;
    width: 50vw; */
    z-index: 1;
    margin-top: 20vh;

}

.Link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    font-size: large;
    font-family: 'Krona One';

}
.Link:hover {
    color: red;
    text-decoration: underline;
    cursor: pointer;
    border: none;
}

.Video-show {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 530px;
    margin-top: 100px;
}

.Video-hide {
    display: none;
}


