.body {
    height: 90vh;
    width: 100vw;
    background-position: center;
    background: url('../../background.jpg') no-repeat center center fixed;
    display: flex;
    align-items: center;
    justify-content: center;

}

.error{
    color: #A51D31;
    font-weight: 600;
    text-shadow: 1px 1px black;
}
.loginOuterBox{
    height: 600px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36454F;
    border-radius: 30px;
}
.loginInnerBox{
    height: 450px;
    width: 850px;
    background-color:#36454F;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 30px;
    color: white;
}
.login_inputs{
    display: flex;
    flex-direction: column;
}
.titleText {
    font-size: x-large;
    font-family: 'Krona One';
    text-decoration: underline;
}
.Reg_text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: 'Krona One';
}
.discount{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-family: 'Krona One';
}
.registerOuterBox {
    height: 600px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36454F;
    border-radius: 30px;

}
.registerInnerBox{
    height: 450px;
    width: 850px;
    background-color:#36454F;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 30px;
    color: white;
}

.LogButton {
font-size: large;
background-color: #36454F;
border-color: white;
border-radius: 4px;
color: white;
font-family: 'Krona One';

}

.LogButton:hover {
/* border-color: black; */
background-color: grey;
color: black;
}

@media (max-width: 710px){

   
    .loginOuterBox {
        height: 400px;
        width: 300px;
    }

    .loginInnerBox {
        height: 350px;
        width: 250px;
    }
    .discount{
        font-size: 15px;
        padding-left: 10px;
    }
    .registerOuterBox{
        height: 400px;
        width: 300px;
    }
    .registerInnerBox{
        height: 350px;
        width: 250px;
    }
}